<div class='content2 container-fluid'>
      <div class='col-md-12 col-sm-12 col-xs-12 efectoH-3 nopadding'>
        <img class='col-ms-12 col-sm-12 col-xs-12 nopadding' src="img/home/imagen_000_0.png" alt="">
      </div>      
      <div class='col-md-12 col-sm-12 col-xs-12 experience'>
        <div class='col-md-12 col-sm-12 col-xs-12' style='padding:10%; padding-top:5%;padding-bottom:3.8%'>
          <img class='col-md-10 col-sm-10 col-xs-12 col-cen' src="img/home/frase_000.png" alt="">
        </div>
        <div class='col-md-12 frases' style='padding:13%; padding-top:0%; padding-bottom:5%'>
          <div class='col-md-10 col-sm-10 col-xs-10 col-cen'>
            <h3 class='red-txt'>Superior High-Grade Components:</h3>
            <h3 class='norm-txt'>Lifelong Products</h3>
          </div> 

          <div class='col-md10 col-sm-10 col-xs-10 col-cen'>
            <h3 class='red-txt '> Superior Design:</h3>
            <h3 class='norm-txt '>Easy-to-use & Maintain</h3>
          </div>
          <div class='col-md10 col-sm-10 col-xs-10 col-cen'>
            <h3 class='red-txt '> 75% Faster than our Competitors:</h3>
            <h3 class='norm-txt '>Increased Operational Efficiency</h3>
          </div>

          <div class='col-md10 col-sm-10 col-xs-10 col-cen'>
            <h3 class='red-txt'>Numerous redundancies & fail-safe mechanisms:</h3>
            <h3 class='norm-txt'>Seal Integrity</h3>
          </div>
          <div class='col-md10 col-sm-10 col-xs-10 col-cen'>
            <h3 class='red-txt'>2-Year Limited Warranty:</h3>
            <h3 class='norm-txt'>Best in the Industry</h3>
          </div>
          <div class='col-md10 col-sm-10 col-xs-10 col-cen'>
            <h3 class='red-txt'>1-Week Trial Program:</h3>
            <h3 class='norm-txt'>Confidence in our Product</h3>
          </div>
          <div class='col-md10 col-sm-10 col-xs-10 col-cen'>
            <h3 class='red-txt'>In Stock & Ready to Ship:</h3>
            <h3 class='norm-txt'>Efficient Customer Service</h3>
          </div>
        </div>
      </div>
  
      <div class='col-md-12 col-xs-12 col-sm-12 efectoH-3 nopadding desaparece-600'>
        <img class='2-img col-md-12 col-sm-12 col-xs-12 nopadding' src="img/home/imagen_001.png" alt="">
      </div>
            
      <div class='galery container container-fluid'>
        

        <div class='col-md-4 col-sm-6 col-xs-12 efectoH'>
          
          <div class='col-md-12 col-sm-12 col-xs-6 efectoE img-hov-2 cursor' ng-click='loadPage("all-products")'>
            <img src="img/home/imagen_002.png"  class='col-md-12 col-sm-12 col-xs-12 nopadding' alt="">          
          </div>

          <div class='col-md-12 col-sm-12 col-xs-6 efectoE img-hov-3 cursor' ng-click='loadPage("contact")'>
            <img src="img/home/imagen_003.png" class='col-md-12 col-sm-12 col-xs-12 nopadding' style='width:100%' alt="">
          </div>
        
        </div>

        <div class='col-md-4 col-sm-6 col-xs-6 efectoH'>

          <div class='col-md-12 col-sm-12 col-xs-12 efectoE img-hov-4 cursor' ng-click='loadPage("about_us")'>
            <img src="img/home/imagen_004.png" class='col-md-12 col-sm-12 col-xs-12 nopadding' alt="">
          </div>              

        </div>

        <div class='col-md-4 col-sm-12 col-xs-6'>

          <div class='col-md-12 col-sm-6 col-xs-12 efectoE img-hov-1 cursor' ng-click='loadPage("selector")'>
            <img src="img/home/imagen_006.png" class='col-md-12 col-sm-12 col-xs-12 nopadding' alt="">          
          </div>

          <div class='col-md-12 col-sm-6 col-xs-12 efectoE img-hov-5 cursor' ng-click='loadPage("compare")'>
            <img src="img/home/imagen_005.png" style='width:100.5%' alt="">
          </div>
     
        </div>


      </div>
    </div>    