@media (max-width: 700px) {
	.frases {
		padding: 0px !important;
		width: 100% !important;
	}
	.frases > div {
		padding: 0px !important;
		width: 80% !important;
		margin: 0 auto !important;
	}
	.frases > div h3 {
		font-size: 15px !important;
		width: 100% !important;
	}
	.frases .red-txt{
		width: 100% !important;
	}
	.frases .norm-txt{

	}

	/**
	* Galeria
	*/
	.desaparece-600 {
		display: none !important; 
	}
}