@media (max-width: 700px) {
	.titulos {
		display: none;
	}
	.res-table div{
		width: 100% !important;
		padding: 0px;
		margin: 0px;
	}
	.res-table span {
		padding: 0px;
		margin: 0px;
	}
	.res-col {
		width: 100% !important;
	}
	.res-col:before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
    width: 50%;
    text-align: left;
  }
  .res-col span {
  	width: 48%;
  	float: right;
  	text-align: right;
  }
}